<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Titolo del sito -->
    <title>  </title>
</head>
<body>
    
    <div id="app">
        <ul v-if="email.length==10">
            <li v-for="element in email">{{element}}</li>
        </ul>        
    </div>
    

    <!-- Script di collegamento al cdn della libreria Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js" integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Script di collegamento a vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Script di collegamento al mio foglio di javscript -->
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
